{% extends "app/base.html" %} 
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            
       
            <h3 class="alert-heading">Well Done!</h3>
            {% comment %} <p> An Email has been sent with instructions to reset your password <br> Please check Email</br></p> {% endcomment %}
            
            

                <div class="alert alert-success" role="alert">
                    <p><b>Reset password email sent</b><br>
                        You should soon receive an email allowing you to reset your password.<br> 
                        Please make sure to check your spam and trash if you can't find the email.</p>
                  </div>
            </div>
    </div>
</div>

{% endblock main-content %}