{% extends "app/base.html" %} 
{% load static %}
{% block title %}Login{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            
       
            <h3>Reset Password Completed!!</h3>
            <hr>
            <div>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="500" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/foodtribe-food-tribe-foodtrb-J20kKsn88hYAkpPtHB" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen>
            </div>
            </div>
    </div>
</div>

{% endblock main-content %}